<form method="post" name="container-form" class="mt-4" action="/courses/handle-form-actions">
  <div>
    <h3>
      Khóa học của tôi
    </h3>
    <a href="/me/trash/courses">Thùng rác
      <i class="fa-regular fa-trash-can"></i>
      <sup class="text-danger">
        {{deletedCount}}
      </sup>
    </a>
    <div class="mb-2 mt-4 d-flex">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkbox-all">
        <label class="custom-control-label" for="checkbox-all">Chọn tất cả</label>
      </div>
      <select class="custom-select w-25 mx-2 custom-select-sm text-center" name="action" required>
        <option value="">------- CHỌN HÀNH ĐỘNG --------</option>
        <option value="delete">Xóa</option>
      </select>
      <button type="submit" class="btn-sm btn-primary btn check-all-submit-btn" disabled>Thực hiện</button>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" colspan="2">STT</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col" colspan="2">Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" name="courseIds[]" class="form-checkbox-input" value="{{this._id}}">
          </div>
        </th>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit">
            <i class="fas fa-edit"></i>
          </a>
          <a data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}" href="">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">Bạn chưa đăng khóa học nào.
          <a class="text-primary fw-bold" href="/courses/create">Đăng khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>
{{! modal }}
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa khóa học này??
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Xác
          nhận</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>
{{!-- form delete --}}
<form action="" method="POST" name="delete-course-form"></form>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var courseId;
    var btnDeleteCourse = document.getElementById('btn-delete-course')
    var deleteForm = document.forms['delete-course-form']
    var checkboxAll = $("#checkbox-all")
    var CourseItemCheckbox = $("input[name='courseIds[]']")
    var checkAllSubmitBtn = $(".check-all-submit-btn")
    var containerForm = $("form[name='container-form']")
    //when dialog confirm is shown
    $('#delete-course-modal').on('show.bs.modal',
      function (event) {
        var button = $(event.relatedTarget) // Button that
        courseId = button.data('id') // Extract info from data-*
      })
    //when click on confirm button
    btnDeleteCourse.onclick = function () {
      deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
      deleteForm.submit()
    }
    //checkbon all change
    checkboxAll.change( function(){
      var checked = $(this).prop('checked')
      CourseItemCheckbox.prop('checked', checked)
      renderCheckAllSubmitBtn()
    })

    //course item checkbox change
    CourseItemCheckbox.change(function(){
      var checkedAll = CourseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
      checkboxAll.prop('checked', checkedAll)
      renderCheckAllSubmitBtn()
    })
    
    //check all submit button click
    checkAllSubmitBtn.click(function(e){
      e.preventDefault()
      var isSubmitable =  !$(this).hasClass('disabled')
      if(isSubmitable){
        containerForm.submit()
      }
    });
    //check all submit button clicked
    containerForm.on('submit',function(e){
      var checked = !checkAllSubmitBtn.hasClass('disabled')
      if(!checked){
        e.preventDefault()
      }
    })

    //re-render check all submit button
    function renderCheckAllSubmitBtn(){
      var checkedCount = $('input[name="courseIds[]"]:checked').length
      if(checkedCount > 0){
        checkAllSubmitBtn.attr('disabled',false)
      }else{
        checkAllSubmitBtn.attr('disabled',true)
      }
    }
  })

</script>